[run]
source = .
omit = 
    tests/*
    venv/*
    */site-packages/*
    */dist-packages/*
    __pycache__/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
