apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: arn:aws:iam::998948478357:role/GitHubActionsEKSDeployRole-prod
      username: github-actions
      groups:
        - system:masters
